---

import type { CollectionEntry } from "astro:content";


interface Props {
  blogEntry: CollectionEntry<"blog">;
}
---

<div class="flex-shrink-0">
  <img
    class="size-[46px] rounded-full border-2 border-neutral-50"
    src=""
    alt=""
  />
</div>
